.loading{
    display: block;
    flex-basis: 100%;
    margin-bottom: 40px;
}

.iconLoad{
    font-size: 3rem;
    color: var(--azul);
    animation: giraCarga 1s linear infinite;
    text-align: center;
}

@keyframes giraCarga {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}